<div class='form'>

    <form action="" id="frm" [formGroup]="contactForm" (ngSubmit)="senddata()">

              <label for="Name" id="namelabel">Name<span class="imp">*
                <span class="errormessage" *ngIf='!this.contactForm.valid'>{{formerrors.name}}</span>
              </span></label><br>
              <input type="text" id="name" formControlName="name" (blur)='CheckValid()'><br>
              
              <label for="Email">Email<span class="imp">*
                <span class="errormessage" *ngIf='!this.contactForm.valid'>{{formerrors.email}}</span>
              </span></label><br>
              <input type="email"  id="email" formControlName="email" (blur)='CheckValid()'><br>
              <div class="row">
                  <div class="col-6">
                    <span id="mobilecontainer"><label for="Moblie">Mobile<span class="imp">*
                        <span class="errormessage" *ngIf='!this.contactForm.valid'>{{formerrors.mobile}}</span>
                      </span></label><br>
                       <input type="number" formControlName="mobile"  id="mobile" (blur)='CheckValid()' ><br></span>
                  </div>
                  <div class="col-6">
                    <span id="landlinecontainer"><label for="Landline" id="landlinelabel">Landline</label><br>
                    <input type="number" formControlName="landline" id="landline"><br></span><br>
                       

                  </div>
              </div>
              
   
              
              <label for="Website">Website</label><br>
              <input type="text" name="Website" id="website" formControlName="website"><br>
   
              <label for="Address">Address</label><br>
              <input type="text" id="address" formControlName="address"><br>
               
              <button type="submit" id="btn">Add</button>

   </form>

</div>
<!-- <div class='form'>

    <form action="" id="frm" [formGroup]="contactForm" (ngSubmit)="senddata()" >
                 <label for="Name" id="namelb">Name<span class="imp">*</span></label>
                 <span *ngIf="!submit_boolean" class="warn">*is required</span><br>
                    <input type="text" id="name" formControlName="name"><br>
                    
         
                    <label for="Email">Email<span class="imp">*</span></label>
                    <span *ngIf="!submit_boolean" class="warn">*is required</span><br>
                    <input type="email"  id="email" formControlName="email"><br>
                    
         
                    <span id="mbsp"><label for="Moblie">Mobile<span class="imp">*</span></label>
                    <span *ngIf="!submit_boolean" class="warn">*is required</span><br>
                     <input type="tel" formControlName="mobile"  id="mobile" ><br></span>
                     
         
                    <span id="lbelsp"><label for="Landline" id="landlinelabel">Landline</label><br>
                     <input type="number" formControlName="landline" id="landline"><br></span><br>
                    
                    <label for="Website">Website</label><br>
                    <input type="text" name="Website" id="website" formControlName="website"><br>
         
                    <label for="Address">Address</label><br>
                    <input type="text" id="address" formControlName="address"><br>
                     
                    <button type="submit"  id="btn"  >Add</button>
    </form>
    
    </div>

     -->