.btn{
  background-color: #27a746;
  height: 40px;
  width: 130px;
  margin-right: 20px;
}
.shadow1{
  width:  680px;
  box-shadow: #333333 0 0 30px;
  
}

.form-group{
  margin-left: 23px;
}
.warn {
  color: red;
  margin-left: 20px;
}
input{
  width: 500px;
  height: 33px;
  border: 1px solid rgb(175, 173, 173);
  margin-top: 9px;
  margin-bottom: 12px;
}
.mobile,
.landline {
  width: 243px;
}
.landLine{
  margin-left: 10px;
}
textarea{
  width: 500px;
  height: 85px;
  border: 1px solid rgb(175, 173, 173);
  margin-top: 10px;
  margin-bottom: 16px;
}