.flexContainer {
  display: flex;
  flex-direction: row;
}
.contactsHeading {
  font-weight: 700;
  margin: 25px 25px 0px;
  font-size: 16px;
}
.displayContact {
  margin-left: 0px;
}
.center {
  margin-left: 100px;
}
