ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.display-contact{
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    margin-top: 13px;
    font-weight: 400;
    font-size: 15px;
}
.display-heading
{
    margin: 0px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 25px;
    
}
.display-details 
{
    margin-bottom: 10px;
}
.display-pin-code,.display-state
{
    display:block;
    margin:5px 0 0 64px;
}
