<div class="display-contact" id="display-contact" *ngIf="contact!=undefined">
    
    <ul >
        <h4 class="display-heading" id="display-name" >{{contact["name"]}}</h4>
        <li class="display-details ">Email:  <span id='display-email'>{{contact["email"]}}</span></li>
           <li class="display-details " >Mobile:<span id="display-mobile">{{contact["mobile"]}}</span></li>
           <li class="display-details ">Landline:<span id="display-landline"></span></li>
           <li class="display-details ">Website:<span id="display-website"></span></li>
           <li>Address: 
               <span id="display-address" class="display-address">hyderabad</span>
               <span id="display-state" class="display-state">Telangana</span>
               <span id="display-pin-code" class="display-pin-code">500061</span>
            </li>
    </ul>

</div>

