ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.displayContact {
  display: inline-block;
  margin-left: 100px;
  position: absolute;
  margin-top: 13px;
  font-weight: 400;
  font-size: 15px;
}
.displayHeading {
  margin: 0px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 25px;
}
.displayDetails {
  margin-bottom: 10px;
}
.address{

  font-weight: 400;
  font-size: 15px;
}
.detailsModification {
  display: inline-block;
  margin-left: 500px;
  margin-top: 13px;
  font-weight: 400;
}
.editAction {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.deleteAction {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: black;
  margin-left: 4px;
}
.deleteImg {
  margin-bottom: 10px;
}
