<div class="row">
  <div class="col-6" *ngIf="contact!=undefined">
    <div class="displayContact">
      <ul>
        <h4 class="displayHeading">{{ contact["name"] }}</h4>
        <li class="displayDetails">
          Email: <span>{{ contact["email"] }}</span>
        </li>
        <li class="displayDetails">
          Mobile: <span>{{ contact["mobile"] }}</span>
        </li>
        <li class="displayDetails">
          Landline: <span>{{ contact["landline"] }}</span>
        </li>
        <li class="displayDetails">
          Website: <span>{{ contact["website"] }}</span>
        </li>
         <li>
          Address:
          <pre class="d-inline-flex address">{{contact["address"]}}</pre>
        </li> 
      </ul>
    </div>
  </div>
  <div class="col-6 detailsModification">
    <a class="editAction" (click)="edit()">
      <img src="./assets/images/Edit-icon.png" width="19px" height="19px" />
      <span id="edit" class="edit">EDIT</span>
    </a>
    <a class="deleteAction" (click)="delete()">
      <img src="./assets/images/delete1.png" class="deleteImg" width="18px" height="26px"/>
      <span class="delete">DELETE</span>
    </a>
  </div>
</div>
