a:link{
  text-decoration: none;
  color:white
}
ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
li{
  display: inline-flex;
  height:40px;
}
.navBar1{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color:rgb(51,51,51);
  color: white;
  height:40px;
}
.navLink1{
  display: inline-flex;
  text-decoration:none;
  box-sizing: border-box;
  height:100%;
  width:84px;
  font-size: 15px;
  font-weight:700;
  cursor: pointer;
  color: white;
  margin-left: 8px;;
  padding:8px 0 0 15px;
}
.active1
{
  background-color:rgb(255,153,0);
  color: black;
  border-left:3px solid white;
}
.navImg1{
  float: right;
  width: 25px;
  height: 25px;
  margin-top: 8px;
  margin-right: 22px;
}
